*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #FDF2EC;
    font-family: "Outfit", sans-serif;

}

.orange{
    color: #FE8162;
}

.container{
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 90em;
    gap: 1em;

}

header{
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 90em;
    gap: 1em;
    
}

.managewise-icon{
    /* border: 1px solid red; */
    width: 100%;
    max-width: 10em;

}

.managewise-icon img{
    width: 100%;
}

.navbox{
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* .navbox a{
    display: 
} */

.navbar{
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    padding: 1.2em;
}

.navbar .nav-link::before {
    content: "\2022";
    color: rgba(0, 0, 0, 0.514);
    /* font-weight: bold; */
    display: inline-block; 
    width: 1em;
    margin-left: -1em;
  }

.navbar a{
    text-decoration: none;
    margin-right: 2.5em;
    color: rgba(0, 0, 0, 0.77);
    font-size: large;
    
}

.navbar a:hover{
    color: #A27BFE;
}

.BuyTemplate{
    font-size: larger;
    font-weight: bolder;
    border-radius: 5px;
    padding: 0.5em;
    background-color: white;

}

.BuyTemplate:hover{
    border: 1px solid black;
    color: black;
}

.title{
    /* border: 1px solid red; */
    width: 100%;
    max-width: 70em;
    margin-top: 5em;
}

.welcome{
    border: 1px solid rgb(128, 0, 128, 0.6);
    border-radius: 5px;
    padding: 0.5em;
    width: 100%;
    max-width: 15em;
    text-align: center;
    margin: 1em auto;
    color: #964DFF;
    font-size: 0.8rem;

}

.main-title{
    /* border: 1px solid red; */
    width: 100%;
    max-width: 50em;
    text-align: center;
    margin: 0.5em auto;
    font-weight: bolder;
    font-size: 2.8rem;

}

.sub-title{
    /* border: 1px solid red; */
    width: 100%;
    max-width: 39em;
    text-align: center;
    line-height: 1.9em;
    margin: 0.5em auto 1.5em;
    /* font-weight: ; */
    font-size: 1rem;
    color: #9A9796;
}

.start{
    /* border: 1px solid red; */
    width: 100%;
    max-width: 50em;
    text-align: center;
    margin: 0.5em auto;
}

.getStarted{
    background-color: #8247FF;
    color: white;
    width: 11.5em;
    padding: 0.75em;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 7px;
    outline: none;
    margin-right: 0.8em;
    cursor: pointer;

}

.watch{
    background-color: white;
    color: black;
    padding: 0.7em;
    border: 1px solid rgba(0, 0, 0, 0.358);
    border-radius: 7px;
    font-weight: bold;
    font-size: 18px;
    width: 11.5em;
    padding: 0.75em;
    margin-left: 0.8em;
    cursor: pointer;
}

.dashboard-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 90em;
    /* border: 1px solid red; */
}

.dashboard{
    width: 100%;
    max-width: 55em;
    margin: 3em 0;
}

.dashboard img{
    width: 100%;
}

.discover{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 90em;
    padding: 10px;
    /* border: 1px solid red; */
}

.large-font{
    /* border: 1px solid red; */
    width: 100%;
    max-width: 50em;
    text-align: center;
    margin: 0.5em auto;
    font-weight: bold;
    font-size: 1.8rem;
    
}

.sub-title2{
    text-align: center;
    width: 100%;
    max-width: 30em;
}

.discover-main{
    /* border: 1px solid red; */
    width: 100%;
    max-width: 64em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.boost{
    width: 100%;
    max-width: 20em;
    margin: 5px;
    background-color: #EDEDFA;
    border-radius: 16px;
    /* border: 1px solid red; */
    line-height: 40px;
    font-weight: ;
    font-size: 1.3rem;
    font-family: sans-serif;
    padding: 78px 40px 35px;

}

.boost2{
    width: 100%;
    max-width: 35em;
    border: 1px solid #EDEDFA;
    border-radius: 16px;
    padding: 12px 0;
    
}

.discover-img{
    width: 30em;
    max-width: 40em;
    margin-bottom: 5px;
}

.title-template1{
    font-weight: bolder;
    line-height: 39px;
    margin: 2px 28px;
}

.title-template2{
    color: #828181;
    font-weight: bold;
    margin: 2px 2px 2px 28px;
    font-size: 15px;
}

.discover-img img{
    width: 100%;
}

.examples{
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    max-width: 80em;
    padding: 2em;
}

.img1{
    border: 1px solid #EDEDFA;
    border-radius: 16px;
    width: 100%;
    max-width: 20em;
    padding: 1em 2em 3em 1em;
}

.img2{
    width: 100%;
    max-width: 20em;
}

.img2 img{
    width: 100%;
}



@media screen and (max-width: 768px) {
    .container{
        width: 100%;
    }

    header{
        width: 100%;
        max-width: 80%;
    }

    .managewise-icon{
        max-width: 65%;
    }

    .navbox{
        display: none;
    }
    
}